
.moni{
    align-items: center;
    justify-content: center;
    padding: 20px 80px;
    width: 300px;
    height: 300px;
    border-color: #000;
    border-radius: 20px;
    border-style: solid;
    background-color: #000fff;
}

